<template>
  <v-layout row wrap>
    
    <v-flex xs12 md3 >
      <div class="homeButton">
        <v-btn color="white"  @click="onClick">
          <v-icon color="black">home</v-icon>  
        </v-btn>
      </div>
      <!-- Listado de categoria diponibles en MLA -->
      <ul>
        <li v-for="categoria in this.categoriaDisponibles"> 
          <button  v-on:click="buscarCategoriaSeleccionada(categoria.id)">{{categoria.name}}</button > 
        </li> 
      </ul>

    </v-flex>
      
    <v-flex xs12 md8>
        
        <!-- Vista de la categoriaSeleccionada seleccionada -->

        <img v-bind:src="categoriaSeleccionada.picture" width="150" height="150">
        
        <h1>
          <a target="_blank" v-bind:href="categoriaSeleccionada.permalink">
            {{categoriaSeleccionada.id}} - {{categoriaSeleccionada.name}} 
          </a>
        </h1>
        
        <p>items totales : {{categoriaSeleccionada.total_items_in_this_category}}</p>
        
        <h2>subcategoriaSeleccionadas</h2>
        
        <ul>
          <li v-for="subCategoriaSeleccionada in this.categoriaSeleccionada.children_categories">
              <p> {{subCategoriaSeleccionada.name}} </p>
          </li>
        </ul>
        
        <h2>settings</h2>
        
        <p>maximas imagenes permitidas por item : {{categoriaSeleccionada.settings.max_pictures_per_item}}</p>
        <p>maximo de caracteres por titulo : {{categoriaSeleccionada.settings.max_title_length}}</p>
        <p>maximo de caracteres por subtitulo : {{categoriaSeleccionada.settings.max_sub_title_length}}</p>
        
    </v-flex>
  
  </v-layout>
</template>


<script>
import axios from 'axios';

export default {
  data () {
    return {
      categoriaDisponibles: null,
      categoriaSeleccionada: ""
    }
  },
  mounted () {
    /*
    * Consulta para las categorias disponibles del sitio MercadoLibreArgentina
    **/
   axios
      .get('https://api.mercadolibre.com/sites/MLA')
      .then(response => {
        this.categoriaDisponibles = response.data.categories
      })
      .catch(error => {
        console.log(error)
      })

    /*
    * Consulta para la informacion de la categoria seleccionada, en este caso la categoria
    * MLA5725 la estableci por defecto 
    **/
   axios
      .get('https://api.mercadolibre.com/categories/MLA5725')
      .then(response => {
        this.categoriaSeleccionada = response.data
      })
      .catch(error => {
        console.log(error)
      })
      
  },
  methods: {
    /**
     * Bucqueda de la informacion a la hora de seleccionar una categoria
     */
    buscarCategoriaSeleccionada(unaCategoriaSeleccionada){
      axios
      .get('https://api.mercadolibre.com/categories/'+unaCategoriaSeleccionada)
      .then(response => {
        this.categoriaSeleccionada = response.data
      })
      .catch(error => {
        console.log(error)
      })
    },
    /**
     * Cambio de vista al menu de inicio
     */
    onClick () {
      this.$router.push("/")
    }
  }
}

</script>

<style>
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.homeButton{
  margin-left: 5%;
}
</style>
