<template>
  <v-layout row wrap>

    <v-flex xs12 text-xs-center>
      <h1>Challenge empresa Trinomio</h1>
    </v-flex>

    <v-flex xs12 class="btn" text-xs-center>
      <v-btn color="white" dark round @click="onClick">
        <p class="link"> Start</p>
      </v-btn>
    </v-flex>

  </v-layout>
</template>

<script>

export default {
  data () {
    return {}
  },
  methods: {
    onClick () {
      this.$router.push("/challenge")
    }
  }  
}
</script>


<style>
.btn {
  margin-top: 20%;
}
.link {
  text-align: center;
  margin: auto;
  font-weight: bold;
  padding: 2px 10px;
  font-size: 1.4em;
  color: #2c2c2c;
}

</style>
