<template>
  <v-app id="app">
      <v-content>

        <div id="routes">
          <router-view/>
        </div>

      </v-content>
  </v-app>
</template>

<style>
#app {
  background-color: #6380F2;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: white;
}
#routes {
  position: absolute;
  margin: 2%;
  left: 0px;
  right: 0px;
  background: none;
  font-size: 1.3em;
}
</style>
